In [2]:
import pandas as pd 
import matplotlib.pyplot as plt
import numpy as np
import sklearn as sk 
import sqlalchemy
import seaborn as sns
import urllib2
from bs4 import BeautifulSoup
import requests
import zipfile
from StringIO import StringIO
import gzip

%matplotlib inline

In [3]:
engine = sqlalchemy.create_engine('postgresql://alexandertam@localhost/postgres')

#engine = sqlalchemy.create_engine("postgresql://overlord:Tamtyacm205Overlord@darkmatter.cyrl8cvgtnrm.us-west-2.rds.amazonaws.com:5432/darkmatter")

In [21]:
df = pd.read_csv("../assets/Actual_tornadoes.csv", header = None)
df.head()

,0,1,2,3,4,5,6,7,8,9,...,19,20,21,22,23,24,25,26,27,28
0,1,1950,1,3,1950-01-03,11:00:00,3,MO,29,1,...,9.5,150,2,0,1,0,0,0,0,0
1,2,1950,1,3,1950-01-03,11:55:00,3,IL,17,2,...,3.6,130,1,1,1,135,0,0,0,0
2,3,1950,1,3,1950-01-03,16:00:00,3,OH,39,1,...,0.1,10,1,1,1,161,0,0,0,0
3,4,1950,1,13,1950-01-13,05:25:00,3,AR,5,1,...,0.6,17,1,1,1,113,0,0,0,0
4,5,1950,1,25,1950-01-25,19:30:00,3,MO,29,2,...,2.3,300,1,1,1,93,0,0,0,0

In [22]:
df.columns = ["id","year","month","day","date","time","timezone","state","state_fips","state_number","fscale","injuries","fatalies","loss","closs","start_lat","start_lon","end_lat","end_lon","length","width","ns","sn","sg","f1","f2","f3","f4","fc"]
df.columns

Index([u'id', u'year', u'month', u'day', u'date', u'time', u'timezone',
       u'state', u'state_fips', u'state_number', u'fscale', u'injuries',
       u'fatalies', u'loss', u'closs', u'start_lat', u'start_lon', u'end_lat',
       u'end_lon', u'length', u'width', u'ns', u'sn', u'sg', u'f1', u'f2',
       u'f3', u'f4', u'fc'],
      dtype='object')

In [29]:
df.query('year == 2015 and state == "AL"')

,id,year,month,day,date,time,timezone,state,state_fips,state_number,...,length,width,ns,sn,sg,f1,f2,f3,f4,fc
58943,556256,2015,1,3,2015-01-03,16:06:00,3,AL,1,0,...,0.67,100,1,1,1,119,0,0,0,0
58945,556257,2015,1,3,2015-01-03,16:36:00,3,AL,1,0,...,1.23,200,1,1,1,119,0,0,0,0
58946,555405,2015,1,3,2015-01-03,16:52:00,3,AL,1,0,...,0.11,50,1,1,1,99,0,0,0,0
58948,556258,2015,1,3,2015-01-03,16:55:00,3,AL,1,0,...,1.61,400,1,1,1,63,0,0,0,0
58949,556262,2015,1,3,2015-01-03,17:19:00,3,AL,1,0,...,1.27,100,1,1,1,63,125,0,0,0
58950,556265,2015,1,3,2015-01-03,17:23:00,3,AL,1,0,...,0.28,60,1,1,1,93,0,0,0,0
58951,555406,2015,1,4,2015-01-04,03:11:00,3,AL,1,0,...,14.32,100,1,1,1,41,0,0,0,0
58952,550942,2015,1,4,2015-01-04,06:27:00,3,AL,1,0,...,1.50,50,1,1,1,45,0,0,0,0
58953,550943,2015,1,4,2015-01-04,06:30:00,3,AL,1,0,...,0.02,50,1,1,1,45,0,0,0,0
58954,550941,2015,1,4,2015-01-04,07:25:00,3,AL,1,0,...,0.56,50,1,1,1,67,0,0,0,0
58994,573129,2015,4,3,2015-04-03,19:15:00,3,AL,1,0,...,0.93,30,1,1,1,49,0,0,0,0
58995,573132,2015,4,3,2015-04-03,20:05:00,3,AL,1,0,...,2.29,75,1,1,1,49,0,0,0,0
59062,574219,2015,4,19,2015-04-19,06:19:00,3,AL,1,0,...,1.15,150,1,1,1,11,0,0,0,0
59065,574226,2015,4,19,2015-04-19,07:38:00,3,AL,1,0,...,3.52,200,1,1,1,19,0,0,0,0
59066,574227,2015,4,19,2015-04-19,07:43:00,3,AL,1,0,...,0.44,188,1,1,1,113,0,0,0,0
59067,567138,2015,4,19,2015-04-19,07:46:00,3,AL,1,0,...,2.10,300,1,1,1,67,0,0,0,0
59068,574254,2015,4,19,2015-04-19,08:17:00,3,AL,1,0,...,7.61,425,2,0,1,0,0,0,0,0
59083,569838,2015,4,20,2015-04-20,00:45:00,3,AL,1,0,...,0.76,100,1,1,1,83,0,0,0,0
59784,593974,2015,7,14,2015-07-14,17:00:00,3,AL,1,0,...,9.12,150,1,1,1,33,0,0,0,0
59785,593967,2015,7,14,2015-07-14,17:14:00,3,AL,1,0,...,11.43,250,1,1,1,79,0,0,0,0
59786,593975,2015,7,14,2015-07-14,17:18:00,3,AL,1,0,...,2.67,50,1,1,1,33,79,0,0,0
59787,593977,2015,7,14,2015-07-14,17:35:00,3,AL,1,0,...,0.91,75,1,1,1,89,0,0,0,0
59788,593971,2015,7,14,2015-07-14,17:48:00,3,AL,1,0,...,0.77,100,1,1,1,103,0,0,0,0
59789,593972,2015,7,14,2015-07-14,17:59:00,3,AL,1,0,...,4.92,300,1,1,1,103,43,0,0,0
59846,598364,2015,8,6,2015-08-06,19:40:00,3,AL,1,0,...,1.92,250,1,1,1,113,0,0,0,0
59848,598365,2015,8,6,2015-08-06,21:35:00,3,AL,1,0,...,0.39,50,1,1,1,109,0,0,0,0
60069,606485,2015,12,23,2015-12-23,19:00:00,3,AL,1,0,...,14.87,400,2,0,1,0,0,0,0,0
60073,611430,2015,12,24,2015-12-24,03:41:00,3,AL,1,0,...,3.60,100,1,1,1,5,0,0,0,0
60074,611431,2015,12,24,2015-12-24,04:34:00,3,AL,1,0,...,3.16,125,1,1,1,5,0,0,0,0
60079,613046,2015,12,25,2015-12-25,15:29:00,3,AL,1,0,...,4.98,185,1,1,1,125,0,0,0,0
60081,613047,2015,12,25,2015-12-25,16:55:00,3,AL,1,0,...,0.88,130,1,1,1,73,0,0,0,0